<h1>Money Cashboard</h1>

<div id="frontpagelinks">
	<div id="left">
		<p><a href="/transactions/new">Add new purchase</a></p>
	</div>
	<div id="right">
		<p><a href="/transactions">View previous purchases</a></p>
	</div>
</div>

<style>
nav {
	display: none;
}

</style>
