<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spend Tracker</title>
	<div class="money"></div>
	<link href="/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:500,700|PT+Serif" rel="stylesheet">
</head>
<body>
	<nav>
		<div id="home">
			<a href="/home"><img src="/home.png" height="30" width="40"/></a>
		</div>
		<div>
			<a href="/transactions/new">Add new purchase</a>
		</div>
		<div id="previouspurchases">
			<div id="all">
				<p><a href="/transactions">All purchases</a></p>
			</div>
			<div id="by_tag">
				<p><a href="/tags">View total spend by tag</a></p>
			</div>
		</div>
	</nav>
</body>
<%= yield %>
</html>
