.money{
  background-image: url(money.jpg);
  width: 100%;
  height: 200px;
  background-position: center;
}

body {
	color: rgba(29, 59, 81, 1);
	background-color: rgba(214, 221, 214, 1);
	font-family: 'Catamaran', sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
    display: block;
    font-size: 1.7em;
    -webkit-margin-before: -0.5em;
    -webkit-margin-after: -0.35em;
    font-weight: bold;
}

a {
	color: rgba(29, 59, 81, 1);
}

#frontpagelinks {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80px;
}

#btn-right {
	width: 50%;
  cursor: pointer;
}

#btn-left {
	width: 50%;
  cursor: pointer;
}

button {
  width: 150px;
  height: 125px;
  font-size: 1.5em;
  line-height: 100%;
  cursor: pointer;
  color: rgba(29, 59, 81, 1);
  background-color: rgba(255, 222, 106, 1);
	font-family: 'Catamaran', sans-serif;
}

#home {
  padding: 7.5px;
}

#previouspurchases {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80px;
}

#all {
	width: 50%;
}

#by_tag {
	width: 50%;
}

#btn-new-transaction {
  font-size: 1em;
  cursor: pointer;
	background-color: rgba(255, 222, 106, 1);
}

label {
	font-size: 1em;
}

input {
	font-size: 0.85em;
}

select {
	font-size: 0.9em;
	color: rgba(29, 59, 81, 1);
	background-color: rgba(209, 209, 198, 1);
	font-family: 'Catamaran', sans-serif;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 0.75px solid rgba(29, 59, 81, 1);
}

th, td {
	padding: 2px;
}

th {
	background-color: rgba(137, 142, 140, 1);
}
